<html lang="en">
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css" rel="stylesheet"/>

</head>
  <h1> Information about the show</h1>

  <h3>Show name:</h3>


<body>
    <div>Back: <a href="/">Event search</a></div>
    <div class="container">

        <h2>Simple Table</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Age</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Bucky Roberts</td>
                    <td>74</td>
                    <td>8,760</td>
                </tr>
                <tr>
                    <td>Turd McGurd</td>
                    <td>13</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Chchchch Idunno</td>
                    <td>18</td>
                    <td>32</td>
                </tr>
            </tbody>
        </table>

        <h2>Condensed Table</h2>
        <table class="table table-condensed">
            <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Bucky Roberts</td>
                <td>74</td>
                <td>8,760</td>
            </tr>
            <tr>
                <td>Turd McGurd</td>
                <td>13</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Chchchch Idunno</td>
                <td>18</td>
                <td>32</td>
            </tr>
            </tbody>
        </table>

        <h2>Striped Table</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Points</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Bucky Roberts</td>
                <td>74</td>
                <td>8,760</td>
            </tr>
            <tr>
                <td>Turd McGurd</td>
                <td>13</td>
                <td>5</td>
            </tr>
            <tr>
                <td>Chchchch Idunno</td>
                <td>18</td>
                <td>32</td>
            </tr>
            </tbody>
        </table>

    </div>
</body>


</html>
