<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Event</title>

    <!-- Bootstrap Core CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="static/style.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Homepage</a>
            </div>
            <!-- Collect the nav links, forms, and other content for 
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>



    <!-- Content Section -->
    <div class="container">
        <div class="col-lg-12">
            <h1 class="text-primary">{{title}}</h1>
            <p class="lead section-lead text-success">{{date}}, {{time}}, {{venue}}</p>
            <div class="section-lead">
                <h4>Featured Artists:</h4>
                <div class="section-info">
                    {% for n in perf_artist %}
                    <span class="label label-warning" style="font-size:18px;display:inline-block;margin-bottom:8px">{{ n.artist}}
                    </span>&nbsp;
                    {% endfor %}
                </div>
            </div>          
            <div class="section-lead">
            	<h4>Venue Information </h4>
            	<div class="section-info">
            		<h4 class="text-success">{{venue}}</h4>
            		<p class="text-success">{{address}}</p>
                    Capacity: 
                    {{capacity}}<br>
                </div>
            </div>
            <div class="section-lead">
                <h4>Vendors and Products</h4>
                <p class="section-info">
                   {% for n in vendor %}
                     {{ n.name }}: {{n.product}}<br>
                   {% endfor %}</p>
            </div>     
            <div class="section-lead">
                <h4>Seating and Prices</h4>
                <div class="section-info">
                    {% for n in location_price %}
                    {{n.location}}: ${{n.price}}<br>
                    {% endfor %}
                </div>
            </div>
            <div class="section-lead">
                <h4>Genres</h4>
                <div class="section-info">
                    {% for n in genre %}
                    <span class="label label-info">{{ n }}</span>
                    {% endfor %}
                </div>
            </div>
        </div>   
    </div>


    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Jerry Barona and Priscilla Wang 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
