<html lang="en">
  <style>
    body{ 
      font-size: 15pt;
      font-family: arial;
    }
  </style>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="http://cdn.rawgit.com/Eonasdan/bootstrap-
    datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css" rel="stylesheet"/>

    <link href="static/style.css" rel="stylesheet"/>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon"> 


</head>

<body>
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Homepage</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

  <div class="container">
    <h1> Welcome to the SummerStage Event Page</h1>

    <h3 >Search for an Event</h3>

    <form action"/" method="post">
      <div class="row">
        <div class="form-group col-sm-5 col-md-5 col-lg-5">
          <input type="text" class="form-control" name="a_name" id="a_name" placeholder="Show, Artist, Genre or Venue" value="{{search_value}}"> 
        </div>
    
        <!-- Date Range -->
        <div class="form-inline">
          <div class="form-group">
              <div class='input-group date' id='datetimepicker1'>
                  <input type='text' name="begin_date_time" placeholder="Begin Date" class="form-control" value={{x}}/>
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
          <div class="form-group">
              <div class='input-group date' id='datetimepicker2'>
                  <input type='text' name="end_date_time" placeholder="End Date" class="form-control" value={{y}} />
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                  </span>
              </div>
          </div>
          <button type="submit" class="btn">Search</button>
        </div>
      </div>

    <!-- buttons to show more filter options -->
      <div class="form-inline">
        <input type="button" class="btn btn-info" onclick="showVenues()" value="Select Venues">
        <input type="button" class="btn btn-info" onclick="showGenres()" value="Select Genres">


        <div class="form-group">
          <label>Max Price: </label>
          <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type='number' name="max_price" placeholder="Max Price" 
              class="form-control col-sm-1 col-md-1 col-lg-1" />
          </div>
        </div>
      </div>

      <div class="form-inline">
        <div id="selectVenueDiv" class="form-group col-sm-4 col-md-4 col-lg-4" style="margin:1em 1em;display:none;">
          <h4>Venues</h4>
          <input type="checkbox" name="selectVenues" id="selectAllVenues" checked/>
          <label for="SelectVenues">Select All Venues</label><br/>
          {% for n in all_venues %}
          <input type="checkbox" class="checkboxVenues" name="venues" id="option{{n.venue}}" value="{{n.venue}}" checked/>
          <label for="option{{n.venue}}" style="font-weight: normal;">{{n.venue}}</label><br/>
          {% endfor %}
        </div>
        <div id="selectGenreDiv" class="form-group col-sm-4 col-md-4 col-lg-4" style="margin:1em 1em;display:none;">
          <h4>Genre</h4>
          <input type="checkbox" name="selectGenres" id="selectAllGenres" checked/>
          <label for="SelectGenres">Select All Genres</label><br/>
          {% for n in all_genres %}
          <input type="checkbox" class="checkboxGenres" name="genres" id="option{{n.genre}}" value="{{n.genre}}" checked/>
          <label for="option{{n.genre}}" style="font-weight: normal;">{{n.genre}}</label><br/>
          {% endfor %}
        </div>
      </div>
    </div>

      <script type="text/javascript">
        $(function () {
            $('#datetimepicker1').datetimepicker({
            });
            $('#datetimepicker2').datetimepicker({
                useCurrent: false //Important! See issue #1075
            });
            $('#datetimepicker1').data("DateTimePicker").format("MM/DD/YYYY");
            $('#datetimepicker2').data("DateTimePicker").format("MM/DD/YYYY");
            $("#datetimepicker1").on("dp.change", function (e) {
                $('#datetimepicker2').data("DateTimePicker").minDate(e.date);
            });
            $("#datetimepicker2").on("dp.change", function (e) {
                $('#datetimepicker1').data("DateTimePicker").maxDate(e.date);
            });
            //select all checkboxes
            $("#selectAllGenres").change(function(){  //"select all" change 
                $(".checkboxGenres").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
            });
            $("#selectAllVenues").change(function(){  //"select all" change 
                $(".checkboxVenues").prop('checked', $(this).prop("checked")); //change all ".checkbox" checked status
            });

            //".checkbox" change 
            $('.checkboxGenres').change(function(){ 
                //uncheck "select all", if one of the listed checkbox item is unchecked
                if(false == $(this).prop("checked")){ //if this item is unchecked
                    $("#selectAllGenres").prop('checked', false); //change "select all" checked status to false
                }
                //check "select all" if all checkbox items are checked
                if ($('.checkboxGenres:checked').length == $('.checkboxGenres').length ){
                    $("#selectAllGenres").prop('checked', true);
                }
            });
            //".checkbox" change 
            $('.checkboxVenues').change(function(){ 
                //uncheck "select all", if one of the listed checkbox item is unchecked
                if(false == $(this).prop("checked")){ //if this item is unchecked
                    $("#selectAllVenues").prop('checked', false); //change "select all" checked status to false
                }
                //check "select all" if all checkbox items are checked
                if ($('.checkboxVenues:checked').length == $('.checkboxVenues').length ){
                    $("#selectAllVenues").prop('checked', true);
                }
            });
        });
        function showVenues() {
          var div = document.getElementById('selectVenueDiv');
          if (div.style.display !== 'none'){
            div.style.display ='none';
          }
          else {
            div.style.display ='block';
          }};
        function showGenres() {
          var div = document.getElementById('selectGenreDiv');
          if (div.style.display !== 'none'){
            div.style.display ='none';
          }
          else {
            div.style.display ='block';
          }};

      </script>
    </form>

      <div class="container">
    {% if all_events %}
    <h3>Events</h3>
    {% elif query_data != [] %}
    <h3>Query results</h3>
    {% else %}
    <h3>No results found</h3>
    {% endif %}
    <div>
      {% for n in all_events %}
      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail" style="height:150px;padding:1em">
          <a href="/{{n.showid}}">{{n.showtitle}}</a> 
          <p class="text-muted">{{ n.showdate  }}  {{n.time}}</p>
          <p class="text-success">{{n.location}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
    <div>
      {% for n in query_data %}
      <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail" style="height:150px;padding:1em">
          <a href="/{{n.showid}}">{{n.showtitle}}</a> 
          <p class="text-muted">{{ n.showdate  }}  {{n.time}}</p>
          <p class="text-success">{{n.location}}</p>
        </div>
      </div>
      {% endfor %}
    </div>

  </div>
  <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Jerry Barona and Priscilla Wang 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </footer>



</body>


</html>
